{% load static %}
<DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <section>
        <div class="container">
            <h2>Flight Details<h2>
                <ul>
                    <li>Departure: {{ flight.pointOfDeparture.name }}</li>
                    <li>Destination: {{ flight.destination.name }}</li>
                    <li>Duration: {{ flight.duration }}</li>
                    <li>Price: {{ flight.price }}</li>
                    <li>Arrival Time: {{ flight.arrivalTime }}</li>
                    <li>Departure Time: {{ flight.departureTime }}</li>  
                </ul>
                <div class="p-5">
                    <ul>
                        <h3>Passengers In Flight</h3>
                        {% for passenger in passengers_in_flight %}
                        <li>
                            {{ passenger.first_name }} {{ passenger.last_name }}
                        </li>
                        {% empty %}
                        <li>
                            No Passengers
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div>
                    <form action="{% url 'flightdetails' pk=flight.pk %}" method="POST">
                    {% csrf_token %}
                    <label>Select Passenger</label>
                    <select name="passenger_name">
                        {% for passenger in psgNotInFlight %}
                        <option value="{{ passenger.pk }}">{{ passenger.first_name }} {{ passenger.last_name }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit">Book Flight</button>
                    </form>
                </div>
        </div>
    </section>
<script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>
